{% extends 'navbar.html' %}
{% block body %}
<div class="container text-center fs-5 fw-bold d-flex" style="padding-top: 12vh; flex-direction: column; justify-content: center; align-items: center;">
    <p class="fs-4">ABOUT</p>
    <p>
        Hello visitor I am Manish Sandip Palande. I have completed my Bachelor of Computer Application From Sahyog College, Thane. As of now I am pursuing a Full Stack Development course from ITVedant Institute, Thane. This is my academic Project which I have created with Django Framework.
    </p>
    <p>
        Welcome to blood bank management system, a comprehensive project developed as part of our academic journey in ITVedant Institute. This initiative reflects my commitment to merging theoretical knowledge with practical application in the realm of healthcare technology. This project represents not only the culmination of my academic efforts but also a testament to our passion for leveraging technology to address critical issues in the healthcare sector.
    </p>
    <p>
        Hello visitor I had created this website for my academic project, I have created a user-friendly platform that facilitates donor registration, blood inventory management, and seamless communication between the blood bank and healthcare institutions. This project not only demonstrates our technical proficiency but also serves as a foundation for future advancements in healthcare technology. We invite you to explore the functionalities of our system and join us in our mission to make a positive impact on the healthcare landscape through innovation and education.
    </p>
    <p>
        Thank You
    </p>

</div>
{% endblock %}